.information {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding-left: 30px;
  padding-top: 20px;
  box-shadow: 1px 10px 10px var(--shad);
  margin-top: 70px;
  background-image: url("../../../public/assets/background.png");
  h2 {
    transition: 0.3s;
    font-size: 32px;

    span {
      color: rgb(240, 124, 0);
    }
  }
  p {
    padding-top: 20px;
    font-size: 18px;
    width: 50%;
    line-height: 28px;
  }
  .input {
    display: flex;
    margin-top: 20px;
    .in {
      position: relative;
      img {
        position: absolute;
        height: 100%;
        object-fit: cover;
        border-right: 2px solid rgba(0, 0, 0, 0.24);
        border-radius: 5px;
      }
      input {
        width: 217px;
        height: 40px;
        border: 2px solid rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        outline: none;
        font-size: 17px;
        padding-left: 40px;
      }
    }
    .in1 {
      position: relative;
      padding-left: 20px;
      img {
        position: absolute;
        height: 100%;
        object-fit: cover;
        border-right: 2px solid rgba(0, 0, 0, 0.24);
        border-radius: 5px;
      }
      input {
        width: 217px;
        height: 40px;
        border: 2px solid rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        outline: none;
        font-size: 17px;
        padding-left: 40px;
      }
    }
  }
  textarea {
    height: 100px;
    width: 430px;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 18px;
    padding: 20px 0 0 20px;
  }
  button {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ef7c00;
    background-color: #ef7c00;
    border: 1px solid #ef7c00;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 16px;
  }
}

@media screen and (max-width: 1069px) {
  .information {
    margin-top: 350px;
  }
}

@media screen and (max-width: 641px) {
  .information {
    margin-top: 700px;
  }
}

@media screen and (max-width: 515px) {
  .information {
    margin-top: 700px;
    height: 600px;
    background-position: center;
    p {
      width: 100%;
    }
    .input {
      width: 100%;
      flex-wrap: wrap;
      .in {
        width: 100%;
        input {
          width: 95%;
        }
      }
      .in1 {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        padding-left: 0;
        input {
          width: 95%;
        }
      }
    }
    textarea {
      width: 95%;
    }
  }
}

@media screen and (max-width: 469px) {
  .information {
    margin-top: 800px;
  }
}

@media screen and (max-width: 428px) {
  .information {
    margin-top: 1500px;
  }
}
