button {
  cursor: pointer;
}
.dark.hero {
  background-color: red;
}

.hero {
  background-image: url(../../../public/assets/bg1-hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 100vh;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-left {
      padding-top: 162px;
      h1 {
        //styleName: fontFootnote;

        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0px;
        text-align: left;
        color: #2c2d2e;
        margin-bottom: 16px;
      }
      h2 {
        color: #2c2d2e;
        //styleName: H1;
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 340px;
        margin-bottom: 17px;
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #2c2d2e;
        max-width: 582px;
        margin-bottom: 17px;
      }
      button {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffff;
        border: none;
        background: #ef7c00;
        padding: 10px 20px;
        border-radius: 7px;
      }
    }
  }
}

.company {
  padding-top: 700px;
  .container {
    .company-flex {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &-left {
        p {
          //styleName: fontBody;
          color: #2c2d2e;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    .flex {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-bottom: 16px;
      flex-wrap: wrap;
    }
    h1 {
      //styleName: H1;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: center;
      color: #2c2d2e;
    }
    span {
      color: #ef7c00;
      //styleName: H1;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .container {
      .hero-left {
        button {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
