button {
  cursor: pointer;
  background: transparent;
  border: none;
}
.dark.hero {
  background-color: red;
}

.hero {
  background-image: url(../../../public/assets/bg1-hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 100vh;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-left {
      padding-top: 162px;
      h1 {
        //styleName: fontFootnote;

        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0px;
        text-align: left;
        color: #2c2d2e;
        margin-bottom: 16px;
      }
      h2 {
        color: #2c2d2e;
        //styleName: H1;
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 340px;
        margin-bottom: 17px;
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #2c2d2e;
        max-width: 582px;
        margin-bottom: 17px;
      }
      button {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffff;
        border: none;
        background: #ef7c00;
        padding: 10px 20px;
        border-radius: 7px;
      }
    }
  }
}

.company {
  padding-top: 700px;
  .container {
    .company-flex {
      .copmany-flex-left {
        img {
          width: 100%;
        }
      }
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      &-left {
        p {
          //styleName: fontBody;
          color: #2c2d2e;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    .flex {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-bottom: 16px;
      flex-wrap: wrap;
    }
    h1 {
      //styleName: H1;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: center;
      color: #2c2d2e;
    }
    span {
      color: #ef7c00;
      //styleName: H1;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
}
.certificate {
  padding-top: 100px;
  .container {
    .img-flex {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 40px;
      h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
        color: #2c2d2e;
      }
      span {
        color: #ef7c00;

        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
  }
}
.product {
  padding-top: 100px;
  .container {
    .btn-bottom {
      display: block;
      margin: 0 auto;
      color: #ef7c00;
      border: 1px solid #ef7c00;
      font-size: 15px;
      margin-top: 30px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      padding: 10px 20px;
      text-align: center;
      border-radius: 7px;
    }
    .img-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      img {
        max-width: 100%;
      }
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 36px;
      h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
        color: #2c2d2e;
      }
      span {
        color: #ef7c00;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      .btn1 {
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0px;
        text-align: center;
        color: #ef7c00;
        padding: 12px 20px;
        border: 1px solid #00103d1f;
        border-radius: 10px;
        background: transparent;
      }
      .btn2 {
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0px;
        text-align: center;
        color: white;
        padding: 12px 20px;
        background: #ef7c00;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
.contact {
  padding-top: 100px;
  .container {
    background-image: url("../../../public/assets/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    button {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      background: #ef7c00;
      padding: 10px 20px;
      color: #ffffff;
      border-radius: 10px;
      display: flex;
    }
    img {
      max-width: 100%;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #2c2d2e;
      margin-bottom: 24px;
      max-width: 400px;
    }
    .flex {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 16px;

      h1 {
        color: #2c2d2e;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
      }
      span {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        color: #ef7c00;
      }
    }
  }
}

.news {
  padding-top: 130px;
  padding-bottom: 84px;
  .container {
    button {
      display: block;
      margin: 0 auto;
      margin-top: 35px;
      color: #ef7c00;
      border: 1px solid #ef7c00;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
    }
    h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      color: #2c2d2e;
      text-align: center;
      letter-spacing: 0px;
      text-align: center;
      margin-bottom: 20px;
    }
    .card {
      display: flex;
      align-items: center;
      gap: 50px;
      flex-basis: 100%;
      flex-wrap: wrap;
      img {
        max-width: 100%;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0px;
        text-align: left;
        color: #919399;
        margin-bottom: 8px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #2c2d2e;
      }
    }
  }
}

.footer {
  padding-bottom: 30px;
  background-color: #e9eaeb;
  .container {
    p {
      font-size: 13px;
      font-weight: 500;
      line-height: 13px;
      letter-spacing: 0px;
      max-width: 336px;
      text-align: left;
      color: #919399;
    }
    .flex2 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 140px;
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        cursor: pointer;
        color: #2c2d2e;
        margin-bottom: 24px;
        text-align: left;
      }
      h5 {
        color: #ef7c00;
        margin-bottom: 13px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
      h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        cursor: pointer;
        color: #2c2d2e;
        margin-bottom: 16px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
    .flex1 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 26px;
    }
    hr {
      color: grey;
      margin-bottom: 13px;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .container {
      .hero-left {
        button {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .company {
    .container {
      .company-flex {
        grid-template-columns: 1fr;
      }
    }
  }
  .contact {
    .container {
      button {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .comanda {
    .container {
      .card {
        justify-content: center;
      }
    }
  }
  .news {
    .container {
      .card {
        justify-content: center;
        text-align: center;
      }
    }
  }
  .footer {
    .container {
      .flex2 {
        gap: 20px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 900px) {
  .company {
    padding-top: 490px;
    .container {
      .company-flex {
        grid-template-columns: 1fr;
      }
    }
  }
}

.comanda {
  margin-top: -200px;
  .container {
    .card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 50px;
      text-align: center;
      .card-items {
        img {
          max-width: 100%;
        }
        h3 {
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: center;
          margin-bottom: 4px;
          color: #2c2d2e;
        }
        p {
          font-size: 13px;
          font-weight: 500;
          line-height: 13px;
          letter-spacing: 0px;
          color: #919399;
          max-width: 203px;
          margin-bottom: 10px;
          text-align: center;
        }
        h4 {
          font-size: 13px;
          font-weight: 500;
          line-height: 13px;
          color: #2c2d2e;
          letter-spacing: 0px;
          margin-bottom: 5px;
          text-align: center;
        }
        h5 {
          font-size: 13px;
          font-weight: 500;
          line-height: 13px;
          color: #2c2d2e;
          letter-spacing: 0px;
          margin-bottom: 5px;
          text-align: center;
        }
      }
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
      h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        color: #2c2d2e;
        text-align: center;
      }
      span {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        color: #ef7c00;
        text-align: center;
      }
    }
  }
}
