header {
  width: 100%;
  height: 80px;
  background-color: var(--bg);
  box-shadow: 5px 5px 10px var(--shad);
  transition: 0.3s;
  z-index: 2;
  position: fixed;

  .container {
    height: 100%;
  }
  .oy {
    svg {
      fill: black;
    }
  }
  .header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img {
      width: 15%;
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      .dro:hover {
        .droup {
          height: 150px;
          border-radius: 10px;
          padding-top: 40px;
          transition: 0.3s;
        }
        .droup:hover {
          height: 150px;
        }
      }
      .droup {
        position: absolute;
        width: 200px;
        height: 0;
        background-color: var(--bg);
        display: block;
        z-index: -0;
        top: 50px;
        padding-left: 15px;
        overflow: hidden;
        border-radius: 5px;
        p {
          padding-top: 10px;
        }
      }
      span {
        font-size: 25px;
        color: var(--text);
        opacity: 0.5;
        transition: 0.3s;
      }
      p {
        display: block;
        transition: 0.3s;
        cursor: pointer;
        color: var(--text);
      }
      p:hover {
        color: grey;
      }
    }
    .theme {
      width: auto;
      cursor: pointer;
      display: flex;
      align-items: center;
      .themBt {
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        position: relative;
        background-color: transparent;
        padding: 0;
        svg {
          width: 16px;
          height: 16px;
        }
        span {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .q {
          svg {
            stroke: white;
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    .bar {
      margin-left: 20px;
      width: 35px;
      height: 40px;
      padding-top: 5px;
      display: none;

      span {
        display: block;
        height: 3.5px;
        width: 100%;
        background-color: var(--text);
        margin-top: 5px;
        transition: 0.3s;
        background-color: gray;
      }
    }
    .bar.active span:nth-child(2) {
      opacity: 0;
    }

    .bar.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .bar.active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .bar span:nth-child(1) {
      transform: translateY(0px) rotate(360deg);
    }
    .bar span:nth-child(2) {
      opacity: 1;
    }

    .bar span:nth-child(3) {
      transform: translateY(0px) rotate(-360deg);
    }
  }
  .sitebar {
    height: 100%;
    position: fixed;
    width: 60%;
    background-color: var(--bg);
    z-index: 30;
    transition: 0.3s;
    display: none;
    left: -100%;
  }
  .sitebar.active {
    left: 0;
  }
}

@media screen and (max-width: 880px) {
  header {
    .sitebar {
      display: block;
      img {
        margin: 11px 0 0 23px;
      }
      .text {
        font-size: 25px;
        color: var(--text);
        padding-left: 30px;
        padding-top: 20px;
        p {
          padding-top: 20px;
          cursor: pointer;
          width: 100%;
          transition: 0.3s;
          border: 1px solid #ef7c00;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          padding-bottom: 20px;
        }
        p:hover {
          color: #ffff;
          background-color: #ef7c00;
          border: none;
        }
      }
    }
    .header {
      .bar {
        display: block;
      }
      .text {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  header {
    .sitebar {
      width: 80%;
    }
  }
}
